.grid {
    display: grid;
}

.fixed_big_square {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -101px;
    /*half of height*/
    margin-left: -101px;
    /*half of width*/
    z-index: 3;
}

.fixed_small_square {
    height: 15px;
    width: 15px;
    background-color: blue;
    margin: 3px;
    border-radius: 2px;
    z-index: 2;
}

.static_big_square {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 750px;
    margin-bottom: 500px;
}

.static_small_square {
    height: 15px;
    width: 15px;
    background-color: green;
    margin: 3px;
    border-radius: 2px;
}

.hidden {
    visibility: hidden;
}