body {    
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right,darkslategray,cadetblue);
}

.box {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 20px;
    left: 20px;
    transition: all 1s;
    box-shadow: 0 0 8px black;
    border-color: white solid;
}

/* .box:hover {
    height: 300px;
    width: 300px;
    box-shadow: 5px 5px 8px white;
} */

.bg1 {
    background-color: #D8B6A4;
}
.bg1:hover {
    height: 250px;
    width: 250px;
    box-shadow: 5px 5px 8px white;
    z-index: 2;
}

.bg2 {
    background-color: #AA14F0;
    top: 40px;
    left: 40px;
}

.bg2:hover {
    height: 250px;
    width: 250px;
    box-shadow: 5px 5px 8px white;
    z-index: 2;
}

.bg3 {
    background-color: #34BE82;
    top: 60px;
    left: 60px;
}

.bg3:hover {
    height: 250px;
    width: 250px;
    box-shadow: 5px 5px 8px white;
    z-index: 2;
}

.bg4 {
    background-color: #3F3351;
    top: 80px;
    left: 80px;
}

.bg4:hover {
    height: 250px;
    width: 250px;
    box-shadow: 5px 5px 8px white;
    z-index: 2;
}

.bg5 {
    background-color: #F3F0D7;
    top: 100px;
    left: 100px;
}

.bg5:hover {
    height: 250px;
    width: 250px;
    box-shadow: 5px 5px 8px white;
    z-index: 2;
}

.bg6 {
    background-color: #FFBF86;
    top: 120px;
    left: 120px;
}

.bg6:hover {
    height: 250px;
    width: 250px;
    box-shadow: 5px 5px 8px white;
    z-index: 2;
}

.bg7 {
    background-color: #000D6B;
    top: 140px;
    left: 140px;
}

.bg7:hover {
    height: 250px;
    width: 250px;
    box-shadow: 5px 5px 8px white;
    z-index: 2;
}

.bg8 {
    background-color: #FF5DA2;
    top: 160px;
    left: 160px;
}

.bg8:hover {
    height: 250px;
    width: 250px;
    box-shadow: 5px 5px 8px white;
    z-index: 2;
}

.bg9 {
    background-color: #49FF00;
    top: 180px;
    left: 180px;
}

.bg9:hover {
    height: 250px;
    width: 250px;
    box-shadow: 5px 5px 8px white;
    z-index: 2;
}

.bg10 {
    background-color: #6B4F4F;
    top: 200px;
    left: 200px;
}

.bg10:hover {
    height: 250px;
    width: 250px;
    box-shadow: 5px 5px 8px white;
    z-index: 2;
}

.bg11 {
    background-color: #A9333A;
    top: 220px;
    left: 220px;
}

.bg11:hover {
    height: 250px;
    width: 250px;
    box-shadow: 5px 5px 8px white;
    z-index: 2;
}

.bg12 {
    background-color: #FF0000;
    top: 240px;
    left: 240px;
}

.bg12:hover {
    height: 250px;
    width: 250px;
    box-shadow: 5px 5px 8px white;
    z-index: 2;
}

.bg13 {
    background-color: #87AAAA;
    top: 260px;
    left: 260px;
}

.bg13:hover {
    height: 250px;
    width: 250px;
    box-shadow: 5px 5px 8px white;
    z-index: 2;
}

.bg14 {
    background-color: #F8DF8B;
    top: 280px;
    left: 280px;
}

.bg14:hover {
    height: 250px;
    width: 250px;
    box-shadow: 5px 5px 8px white;
    z-index: 2;
}

.bg15 {
    background-color: #D3E4CD;
    top: 300px;
    left: 300px;
}

.bg15:hover {
    height: 250px;
    width: 250px;
    box-shadow: 5px 5px 8px white;
    z-index: 2;
}

.custom-button {
    appearance: none;
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
}
.custom-button:hover {
    background-color: #F3F4F6;
    text-decoration: none;
    transition-duration: 0.1s;
}

.custom-button:disabled {
    background-color: #FAFBFC;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959DA5;
    cursor: default;
}

.custom-button:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.custom-button:focus {
  outline: 1px transparent;
}

.custom-button:before {
  display: none;
}

.custom-button:-webkit-details-marker {
  display: none;
}