.main {
    position: relative;
    display: flex;
    justify-content: center;
}

.clock {
    display: block;
    margin: 0 auto;
    z-index: 0;
    width: 500px;
    height: 500px;
}

.hands {
    position: absolute;
    margin: 30px 6px 0 auto;
}

.seconds {
    z-index: 3;
    height: 430px;
    width: 25px;
    margin: 30px 6px 0 auto;
}

.minutes {
    z-index: 2;
    height: 360px;
    width: 30px;
    margin: 72px 6px 0 auto;
}

.hours {
    z-index: 1;
    height: 300px;
    width: 35px;
    margin: 100px 6px 0 auto;
}