body {
    font-family: 'Roboto', sans-serif;
}

h4 {
    font-weight: 400;
}

h3 {
    font-weight: 500;
    margin: 0 0 0 0;
}

.top_text {
    vertical-align: middle;
}

.container {
    display: flex;
}

header {
    flex-direction: column;
}

.resp_note {
    background-color: yellow;
    text-align: center;
    height: 50px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;

}

.top {
    background-color: lightseagreen;
    color: white;
    height: 160px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-text {
    line-height: 2.5px;
    padding: 10 20px;
}

.links {
    display: flex;
    background-color: darkslategray;
    height: 30px;
}

.link-button {
    color: white;
    padding-top: 3px;
    margin-left: 5px;
    margin-right: 5px;
}

.link-button:hover {
    background-color: white;
    color: darkslategray;
}

/* .middle {
} */

/* Most powerfull thing:

display:flex;
align-items: center;
justify-content: center; 

*/