/* 
Fonts to use:
font-family: 'Hammersmith One', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif; 
*/
body {
    margin: 0;
    /* width: 100%; */
    height: 100vh;
}

header {
    height: 100%;
    width: 100%;
    background-image: url(images/first_bg.jpg);
    background-size: cover;
    position: relative;
}

header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to top, #09052f, #311d5e);
    opacity: 0.85;
}

.top_logo {
    position: absolute;
    width: 35%;
    top: 15px;
    text-align: center;
}

.link{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Roboto;
    font-size: 50px;
    font-weight: 900;
    text-align: right;
}

.content {
    z-index: 1;
}