/*Fonts to use: 
font-family: 'Hammersmith One', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif; */

.header {
    opacity: 0.85;
    background-image: linear-gradient(to top, #09052f, #311d5e);
}